<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body bgcolor="#fffacd"><center>
  <h1 style="color: chocolate; text-transform: uppercase"><u>Welcome to <%= title %></u></h1>
  <h3 style="color: skyblue; padding-top: 4em">Hi <%= name %> !!!</h3>
</center>
</body>
</html>